{
  "ignore": ["node_modules/"],
  "env": {
    "8.10.0": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-async-generator-functions",
        "transform-es2017-object-entries"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "8.10.0"
            }
          }
        ]
      ]
    }
  }
}
