{
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-class-properties",
    "transform-export-extensions",
    "babel-root-import"
  ],
  "presets": ["latest"]
}
